{
    "presets": [
        "@babel/env"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "alias": {}
            },
        ],
        [
            "@babel/plugin-proposal-class-properties",
            {}
        ]
    ]
}